@use '../../base_css/media';

main.vs {
    position: relative;
    padding: 1em;
    overflow: hidden;

    .background {
        z-index: -1;
        pointer-events: none;
        position: fixed;
        width: 400%;
        height: 400%;
        overflow-x: hidden;
        overflow-y: hidden;

        animation: 100s slide-in infinite;

        @keyframes slide-in {
            0%,100% {
                transform: translate(-1%, -1%);
            }
        
            50% {
                transform: translate(-14%, -14%);
            }
        }

        .p1 {
            aspect-ratio: 1/2;
            position: absolute;
            width: 14%;

            opacity: .7;
            -webkit-mask-image: -webkit-gradient(linear, left top, right top,
            from(rgba(0,0,0,1)), 
            color-stop(0.8, rgba(0, 0, 0, 1)),
            to(rgba(0,0,0,0)));
            mask-image: -webkit-gradient(linear, left top, right top,
            from(rgba(0,0,0,1)), 
            color-stop(0.9, rgba(0, 0, 0, 1)),
            to(rgba(0,0,0,0)));
        }

        .p2 {
            aspect-ratio: 1;
            position: absolute;
            width: 100%;
            transform: translate(14%, 0);

            opacity: .7;

            -webkit-mask-image: -webkit-gradient(linear, right top, left top,
            from(rgba(0,0,0,1)), 
            color-stop(0.9, rgba(0, 0, 0, 1)),
            to(rgba(0,0,0,0)));

            mask-image: -webkit-gradient(linear, right top, left top,
            from(rgba(0,0,0,1)), 
            color-stop(0.98, rgba(0, 0, 0, 1)),
            to(rgba(0,0,0,0)));
        }

        .p2 {

            --s: 215px;
            /* control the size*/
            --c1: #5a493d;
            --c2: #ead6b0;
        
            background:
                linear-gradient(135deg, #0000 18.75%, var(--c1) 0 31.25%, #0000 0),
                repeating-linear-gradient(45deg, var(--c1) -6.25% 6.25%, var(--c2) 0 18.75%);
            background-size: var(--s) var(--s);
        }

        .p1 {

            --s: 145px;
            /* control the size*/
            --c1: #705e52;
            --c2: #ead6b0;
        
            background:
                linear-gradient(135deg, #0000 18.75%, var(--c1) 0 31.25%, #0000 0),
                repeating-linear-gradient(45deg, var(--c1) -6.25% 6.25%, var(--c2) 0 18.75%);
            background-size: var(--s) var(--s);
        }



        .p3 {
             --s: 40px;
             /* control the size*/
            --c1: #705e52;
            --c2: #ead6b0;

             --_c: #0000 75%, var(--c1) 0;
             --_g1: conic-gradient(at 10% 50%, var(--_c));
             --_g2: conic-gradient(at 50% 10%, var(--_c));
             background:
                 var(--_g1),
                 var(--_g1) calc(1*var(--s)) calc(3*var(--s)),
                 var(--_g1) calc(2*var(--s)) calc(1*var(--s)),
                 var(--_g1) calc(3*var(--s)) calc(4*var(--s)),
                 var(--_g1) calc(4*var(--s)) calc(2*var(--s)),
                 var(--_g2) 0 calc(4*var(--s)),
                 var(--_g2) calc(1*var(--s)) calc(2*var(--s)),
                 var(--_g2) calc(2*var(--s)) 0,
                 var(--_g2) calc(3*var(--s)) calc(3*var(--s)),
                 var(--_g2) calc(4*var(--s)) calc(1*var(--s)),
                 var(--c2);
             background-size: calc(5*var(--s)) calc(5*var(--s));
        }
    }

    .content {

    margin-top: 1em;
    justify-content: center;

    display: grid;

    @include media.mq-is-col2-squeeze {
        grid-template-areas: 'board replay'
        'details history';

        gap: 1em;
        grid-template-columns: 50vh minmax(200px, 300px);
    }

    @include media.mq-at-least-col2 {
        grid-template-areas: 'board replay'
        'details history';

        gap: 2em;
        grid-template-columns: 80vh minmax(200px, 300px);
    }

    @include media.mq-at-least-col3 {
        grid-template-areas: 'details board replay'
        '. history history';

        gap: 1em;
        grid-template-columns: auto 80vh minmax(300px, 400px);
    }

    @include media.mq-is-col1 {
        grid-template-areas: 'board'
        'replay'
        'details'
        'history';
        grid-template-columns: 90vw;
    }
}


    .info {
        grid-area: details;
    }

    .history {
        grid-area: history;
    }

    .board-wrap {
        grid-area: board;
    }

    .replay-wrap {
        grid-area: replay;
    }

    .board-wrap {


    .board {
            aspect-ratio: 1;
        }

        /* do custom board */
        cg-container {
        box-shadow: 2px 3px 1px black;
        }
    }

    .replay-wrap {
        display: flex;
        flex-flow: column;

        .top-padding, .bottom-padding {
            flex: 1;
        }

        .replay {
            @include media.mq-is-col1 {
                width: 80%;
                align-self: center;
            }
        }


        .replay {
          display: flex;
          flex-flow: column;
          flex: 3;
          font-size: 1.3em;

          justify-content: space-between;

          background: rgb(220, 213, 204);
          box-shadow: 2px 3px 1px black;
          margin: 0.5em 0;
            ::-webkit-scrollbar {
                width: 3px;
                /*background: transparent;*/
                /* make scrollbar transparent */
            }


          .list-wrap {
            overflow-y: scroll;
            /* https://stackoverflow.com/questions/70198644/overflow-scroll-on-div-with-flex-1-without-specific-height */
            flex: 1 1 0;

            @include media.mq-is-col1 {
            flex: 1 1 100px;
            }

          .list {
            display: flex;
            flex-flow: row wrap;
            position: relative;

            .step {
                flex: 0 0 calc(50% - 0.4em);
                padding: 0.2em;
        
                display: flex;
                overflow: hidden;

                &:nth-child(odd) {
                    background: rgb(225, 241, 205);
                    color: rgb(7, 22, 3);
                }
        
                &:nth-child(even) {
                    color: rgb(225, 241, 205);
                    background: rgb(13, 43, 7);
                }

                &.on-path-end {
                    background: rgb(157, 43, 43);
                    color: rgb(225, 241, 205);
                }

                .delta {
                    font-size: .8em;
                    margin-left: auto;
                    align-self: flex-end;
                    line-height: 1em;

                    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;

                    transform: scale(1.8);

                    &.opening {
                        color: gray;
                        opacity: .8;
                    }

                    &.zero, &.opening {
                        font-size: .6em;
                        transform: scale(1);
                    }
                    &.one {
                        font-size: .7;
                        transform: scale(1);
                    }
                    
                    &.four {
                        transform: rotate(-5deg) scale(1);
                    }

                    &.five {
                        color: rgb(190, 162, 6);
                        transform: rotate(-10deg) scale(1);
                    }
                }
            }



            .result {
                flex: 1 0 100%;
                display: flex;
                flex-flow: column;

                font-size: .9em;

                .over {
                    padding: 0.5em;
                    text-transform: uppercase;
                    align-self: center;
                    font-weight: bold;
                    font-size: 1.1em;
                }

                .lose, .win {
                    display: flex;
                    flex-flow: column;

                    .header {
                        text-align: center;
                        font-size: 1.3em;
                    }

                    .scores {
                        justify-content: space-around;
                    }


                    .note {
                        font-size: 0.8em;
                        height: 1em;

                    }
                }

                .score,.combo {
                    font-size: .9em;
                }
            }
        }
        }

        .scores {
            display: flex;
            justify-content: space-between;

            .score-delta.small {
                font-size: 0.8em;

                align-items: flex-end;
            }

            .score-delta:first-child {
                padding: 0.2em;
                background: rgb(225, 241, 205);
                color: rgb(13, 43, 7);
                border-top: 1px solid rgb(13, 43, 7);
            }
            .score-delta:last-child {
                padding: 0.2em;
                background: rgb(13, 43, 7);
                color: rgb(225, 241, 205);
                border-top: 1px solid rgb(225, 241, 205);
            }
        }

        }



        .controls {
            display: flex;
            gap: 0.3em;
            margin: 3px;
            button {
                flex: 1;
                margin: 0;
                padding: 0.5em;
                font-size: 1.2em;
            }
        }

        .user-top,
        .user-bottom {
            display: flex;
            justify-content: space-between;
            border: 2px solid rgb(15, 18, 76);
            padding: 0.2em;
            align-items: flex-end;

        }

        .score-delta {
            flex: 1;
            display: flex;
            justify-content: space-between;

            &.flip {
                flex-direction: row-reverse;
            }

            .score, .combo-streak {
                line-height: 1em;
                font-size: 1.3em;
                &.skip {
                    color: gray;
                    opacity: .6;
                }
            }

            .combo-streak {
                display: flex;
                gap: 0.2em;
                font-size: 1em;

                .combo {
                    align-content: flex-end;
                }
            }



            .streak {
                font-size: 0.8em;
                align-self: flex-end;
            }
            .score, .combo, .streak {
                transition: all cubic-bezier(1, 0, 0, 1) .2s;

                &.bump {
                    color: rgb(120, 105, 19);
                    transform: scale(1.6, 1.6) rotate(10deg);
                }

                &.shoot {
                    color: rgb(216, 35, 35);
                    transform: scale(.8, .8) translate(2px, 10px);
                }
            }
            
        }

    }
}