@use '../../base_css/media';

main.bandit {

    position: relative;
    overflow: hidden;
    padding: 1em;

    .background {

        position: absolute;
        z-index: -1;

        aspect-ratio: 2.5;
        width: 180%;
        transform: translate(-10%, -20%) rotate(45deg);

        pointer-events: none;
        overflow: hidden;


        $bg1: #606;
        $bg2: #404;
        background: repeating-linear-gradient(45deg,
                $bg1,
                $bg1 100px,
                $bg2 100px,
                $bg2 200px);
    }


    .play-vs-buttons {
        display: flex;
        gap: 2em;

            @include media.mq-is-col1 {
                    flex-flow: column;
                }

        button {
            cursor: pointer;
            padding: 0.8em;
        }
    }

    .content {
        z-index: 1;
    }

    .leaderboards {
        .categories {


        margin-left: 0.5em;
        display: flex;
        gap: 6em;

            @include media.mq-is-col1 {
                    flex-flow: column;
                }

        .category.disabled {
            color: gray;
        }


        }

        .leader-link {
            margin-left: 8em;
        }
        }

        footer {
            display: flex;
            gap: 1em;
        }
}