main.bandit {

    .background {

        position: absolute;
        z-index: -1;

        aspect-ratio: 2.5;
        width: 200%;
        transform: translate(-10%, -20%) rotate(45deg);

        $bg1: #606;
        $bg2: #404;
        background: repeating-linear-gradient(45deg,
                $bg1,
                $bg1 100px,
                $bg2 100px,
                $bg2 200px);
    }


    padding: 1em;
    .play-vs-buttons {
        display: flex;
        gap: 2em;

        button {
            cursor: pointer;
            padding: 0.8em;
        }
    }
    position: relative;

    .content {
        z-index: 1;
    }

    .leaderboards {
        .categories {
        margin-left: 0.5em;
        display: flex;
        gap: 6em;
        .category.disabled {
            color: gray;
        }


        }

        .leader-link {
            margin-left: 8em;
        }
        }

        footer {
            display: flex;
            gap: 1em;
        }
}